.about-1 p {
    font: normal normal 500 26px/34px var(--font-style-1);
}
.about-1 {
    width: 50%;
    padding: 4rem;
    margin-left: 5rem;
    margin-top: 2rem;
}

.about-4 {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.historyImg {
    width: 452px;
    height: 396px;
}
.his-2 {
    width: 100%;
    font: normal normal 500 28px/34px var(--font-style-1);
    padding-left: 10rem;
    padding-right: 2rem;
    padding-top: 0;
    padding-bottom: 0;
}
.group {
    margin-bottom: 0px;
    padding: 0 10rem;
}
.one {
    margin-bottom: 0rem;
}
.image-div {
    width: 90%;
    overflow-x: scroll;
    display: flex;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 3rem;
}
.card img {
    width: 308px;
    height: 308px;
    border-radius: 154px;
    margin-bottom: 2rem;
}
.card-title {
    font: normal normal bold 25px/27px Open Sans;
    text-align: center;
}
.card-subtitle {
    font: normal normal 600 20px/27px Open Sans;
    color: var(--secondary-color);
    text-align: center;
}
@media only screen and (max-width: 850px) {
    .historyImg {
        width: 352px;
        height: 296px;
    }

    .card {
        margin-left: 0.5rem;
    }
    .about-4 {
        margin-top: 60px;
    }
    .group {
        margin-bottom: none;
        margin-top: none;
        align-items: center;
        justify-content: flex-start;
    }
    .sec-1,
    .sec-2 {
        margin-bottom: 20px;
    }
    .his-2 {
        font: normal normal 500 17px/24px var(--font-style-1);
        text-align: center;
        padding: 0px 20px;
        margin-top: 30px;
    }
    .one {
        width: 90%;
        margin-bottom: 40px;
    }
    .card img {
        width: 208px;
        height: 208px;
        border-radius: 104px;
    }
    .card-title {
        font: normal normal bold 18px/24px var(--font-style-1);
        text-align: center;
    }
    .card-subtitle {
        font: normal normal 600 15px/20px var(--font-style-1);
        color: var(--secondary-color);
        text-align: center;
    }
}
